doctype html
html
  head
    title Delivery orders for a user
    link(rel='stylesheet', type='text/css', href='/style.css')
  body
    header
      ul
        li
          a(href='/api/v1/users/signup') Sign Up
        li
          a(href='/api/v1/users/signin') Sign In
        li
          a(href='/api/v1/') Home
        li
          a(href='/api/v1/parcels') Admin
        li          
          a(href='/api/v1/signout') Sign out
    div
      table#delivary
        caption
          b Summary information about delivery orders I made
        tbody
          tr
            th ID
            th Date
            th From
            th To
            th Weight
            th Price                      
          each row in parcelsByUser
            tr 
              td=row.id 
              td=row.date
              td=row.origin
              td=row.destination
              td=row.weight
              td=row.price
              
      form#cancelOrder(action='', method="POST")
        input#delete(type='text', placeholder='Enter the id of the parcel you wish to cancel', required='')
        input(type='submit', value='Cancel')
      button
        a(href='/api/v1/') Add Order
      

      
    footer
      p
        em
          a(href='/api/v1/') SEND IT
    script(type='text/javascript', src='/cancelOrder.js')
