html
  head
    title Delivery orders for a user
    link(rel='stylesheet', type='text/css', href='./style.css')
  body
    .error
    div
      table#delivary
        caption
          b
            a(href='#userProfile') Summary
            |  information about delivery orders I made
        tbody
          tr
            th From
            th To
            th Weight
            th Price
            th Name
            th Status
        each row in owner.orders 
          tr 
            td=row.origin
            td=row.destination
            td=row.weight
            td=row.price
            td=row.name
            td=row.status
      button
        a(href='/api/v1/') Add Order
    #userProfile
    footer
      p
        em
          a(href='https://yvesiraguha.github.io/send_it_challenge/UI/create_order.html') SEND IT
    script(type='text/javascript', src='./delivery_orders_to_user.js')
